
      <div class="row" align="center">
        <img src="images/new-img.jpg" class="img-circle img-responsive">
      </div>
      <hr/>
      <div class="row">
        <div ><h3 >Menu</h3></div>
        <div class="col-sm-2 col-xs-2" id="box">  <%= @menu.menuName %></div>
        <div class="col-sm-2 col-xs-2" id="box">  <%= @menu.menuType %></div>
        <div class="col-sm-2 col-xs-2" id="box"> <%= @menu.menuTitle %></div>
        <div class="col-sm-2 col-xs-2" id="box"> <%= @menu.daysServed %></div>
        <div class="col-sm-2 col-xs-2" id="box"> <%= @menu.numberGuests %></div>
        <div class="col-sm-2 col-xs-2" id="box"> <%= @menu.timeSlot %></div>
      </div>
      <hr/>
      <div class="row">
        <div><h3 >Item</h3></div>
        <% @items.each do |item| %>
            <div class="col-sm-2 col-xs-2" id="box1"><%= item.name %></div>
        <% end %>

      </div>
      <hr/>
      <div class="row" >
        <div><h3>Menu Images</h3></div>
        <% @menu_attachments.each do |menu_attachment| %>
            <div class="col-sm-2 " ><%= image_tag(menu_attachment.avatar.url, size: "150")%></div>
        <% end %>

      </div>

      <%= link_to 'Edit', editMenu_path(@menu) ,:remote => true , :class => 'btn btn-sm btn-primary'%>