
<h1> Create Your Menu</h1>
<%= form_for @menu, :url => url_for(:controller => 'menus', :action => 'create'),:remote => true do |f| %>

    <div class="form-group">

      <%= f.text_field :menuTitle,:class=>'form-control',:placeholder =>'Menu Title' %>
    </div>

    <div class="form-group">

      <%= f.text_field :menuName,:class=>'form-control',:placeholder =>'Menu Name' %>
    </div>


    <div class="form-group">

      <%= f.text_field :menuType,:class=>'form-control',:placeholder =>'Menu Type' %>
    </div>
    <div class="form-group">

      <%= f.text_field :experience  ,:class=>'form-control',:placeholder => 'Experience'%>
    </div>

    <div class="form-group">

      <%= f.text_field :timeSlot,:class=>'form-control',:placeholder =>'Time Slot' %>
    </div>

    <div class="form-group">

      <%= f.text_field :daysServed,:class=>'form-control',:placeholder =>'Days Served' %>
    </div>


    <button type="button" class="button button--wayra button--border-thick button--text-upper button--size-s" data-toggle="modal" data-target="#myModal1"> Menu Photos</button>
    <button type="button" class="button button--wayra button--border-thick button--text-upper button--size-s" data-toggle="modal"  id="previewPhoto" > Preview Photo</button>
    <div class="button button--wayra button--border-thick button--text-upper button--size-s" onClick="addNewItem('itemsList');">Add an Item</div>
    <div id='itemsList' style="padding-top: 10px">
    </div>

    <%= button_to 'Submit Details', menus_create_path, method: :post, :class => 'button button--wayra button--border-thick button--text-upper button--size-s' %>
<% end %>

<script>
    $("#previewPhoto").click( function() {
// send an AJAX request to fetch the data
        $.ajax({
            url:  "<%= '/menus/previewAlbumMenu' %>", // Route to the Script Controller method
            type: "GET",
            dataType: "json",
            complete: function() {},

            success: function(data) {
                $('#media-contents').empty();
                var y='<ul class="row">';
               // $('#media-contents').append(' <ul class="row">');
                $.each(data.attachments, function(i, attachment) {
                    y = y+' <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">'+'<img src='+ attachment.avatar.url + ' height="100" width="100">'+'</li>';
                    //$('#media-contents').append(' <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">'+'<img src='+ attachment.avatar.url + ' height="100" width="100">'+'</li>');
                });
              //  $('#media-contents').append(' </ul>');
                y= y+'</ul>';
                $('#media-contents').append(y);
                jQuery("#previewModal").modal({
                    show: true

                });

            },
            error: function() {
                alert("Ajax error!")
            }
        });

        return false;
    });
</script>