<div class="chat-panel panel panel-default chat-boder chat-panel-head" >

  <div class="panel-heading">
    <i class="fa fa-hand-o-down fa-fw"></i>
    Orders
  </div>

  <div class="panel-body">
    <ul class="chat-box">
      <% @orderForGuests.each do |orderForGuest| %>
          <li class="left clearfix" id="order<%=orderForGuest.id%>">
                                    <span class="chat-img pull-left">
                                        <img src="assets/img/1.png" alt="User" class="img-circle" />
                                    </span>
            <div class="chat-body">
              <strong >Jack Sparrow</strong>
            </div>
            <small class="pull-right text-muted">
              <i class="fa fa-clock-o fa-fw"></i><%= orderForGuest.created_at.to_s %>
            </small>
            <br/>
            <div>
              Menu Name : <%= Menu.find(orderForGuest.menu_id).menuName %>
            </div>
            <div>
              Menu Title :  <%= Menu.find(orderForGuest.menu_id).menuTitle %>
            </div>
            <div>
              Date <%= orderForGuest.date %>
            </div>
            <div>
              Time Slot  <%= orderForGuest.timeslotfrom %>
            </div>
            <div>
              Number of Guests  <%= orderForGuest.number_of_guests %>
            </div>
            <br/>
            <div>
              <span class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="label label-success">view customizations</span>
              </a>
              <ul class="dropdown-menu dropdown-messages">
                <li>
                  <a href="#">
                    <div>
                      <strong>Spicy</strong>
											  <span class="pull-right text-muted">
                                            <em><%= orderForGuest.spicy %></em>
                                            </span>
                    </div>
                    <div>
                      <strong>Celiac</strong>
											  <span class="pull-right text-muted">
                                            <em><%= orderForGuest.celiac %></em>
                                            </span>
                    </div>
                    <div><%= orderForGuest.customization %>
                      <br />
                    </div>
                  </a>
                </li>
              </ul>
              </span>

              <span class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="label label-success" onclick="checkAvailability(<%= orderForGuest.id %>,<%= orderForGuest.menu_id %>,<%= orderForGuest.date %>,<%= orderForGuest.number_of_guests %>)">check availability</span>
              </a>
              <ul class="dropdown-menu dropdown-messages">
                <li>
                  <a href="#">
                    <div>
                      <strong>Available</strong>
											  <span class="pull-right text-muted">
                                            <em id="availability<%= orderForGuest.id %>"></em>
                                            </span>
                    </div>
                    <div>
                      <strong>Reason</strong>
											  <span class="pull-right text-muted">
                                            <em id="reason<%= orderForGuest.id %>">ipsum loretum gandu madarchodum</em>
                                            </span>
                    </div>
                  </a>
                </li>
              </ul>
              </span>

              <div class="pull-right" id="acceptRejectButtons<%=orderForGuest.id%>">
                <% if (orderForGuest.status=="new") %>
                    <a href="#" class="btn btn-primary" onclick="setorderForGuestAccept(<%= orderForGuest.id %>,<%= orderForGuest.menu_id %>,<%= orderForGuest.date %>,<%= orderForGuest.number_of_guests %>)">Accept</a>
                    <span class="dropdown">

                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="btn btn-danger">Reject</span>
                      </a>
                      <ul class="dropdown-menu dropdown-messages">
                        <li>
                          <a href="#">
                            <div>
                              <strong>Reject?</strong>
                            </div>
                            <div>
                              <a href="#" class="btn btn-primary" onclick="setorderForGuestReject(<%=orderForGuest.id%>)">Yes</a>
                              <a href="#" class="btn btn-primary">No</a>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </span>
                <% end %>
              </div>
            </div>
          </li>
      <%end%>
    </ul>
  </div>


</div>
</div>

<script>
    function setorderForGuestAccept(myID,menuID,orderDate,guestCount) {
        $.ajax({
            url: "<%= '/order_tables/updateOrderForGuestAccept' %>", // Route to the Script Controller method
            type: "GET",
            dataType: "json",
            data: { orderID: myID,menuID:menuID,orderDate:orderDate,guestCount:guestCount },
            complete: function() {},
            success: function(data) {
                var orderForGuestcount= document.getElementById('unreadOrderCount');
                orderForGuestcount.innerHTML=data.count
                var myOrderDeleted = document.getElementById('acceptRejectButtons'+myID);
                myOrderDeleted.parentNode.removeChild(myOrderDeleted);
            },
            error: function() {
                alert("Ajax error!")
            }
        });
    }
    function setorderForGuestReject(myID) {
        $.ajax({
            url: "<%= '/order_tables/updateOrderForGuestReject' %>", // Route to the Script Controller method
            type: "GET",
            dataType: "json",
            data: { orderID: myID },
            complete: function() {},
            success: function(data) {
                var orderForGuestcount= document.getElementById('unreadOrderCount');
                orderForGuestcount.innerHTML=data.count
                var myOrderDeleted = document.getElementById('order'+myID);
                myOrderDeleted.parentNode.removeChild(myOrderDeleted);
            },
            error: function() {
                alert("Ajax error!")
            }
        });
    }

    function checkAvailability(myID,menuID,orderDate,guestCount) {
        $.ajax({
            url: "<%= '/order_tables/checkAvailability' %>", // Route to the Script Controller method
            type: "GET",
            dataType: "json",
            data: { orderID: myID,menuID:menuID,orderDate:orderDate,guestCount:guestCount },
            complete: function() {},
            success: function(data) {
                if (data.isavailable=='yes') {
                    var orderForGuestcount = document.getElementById('availability' + myID);
                    orderForGuestcount.innerHTML = 'YES';
                    var myOrderDeleted = document.getElementById('reason' + myID);
                    myOrderDeleted.innerHTML = 'Not Applicable';
                } else {
                    var orderForGuestcount = document.getElementById('availability' + myID);
                    orderForGuestcount.innerHTML = 'NO';
                    var myOrderDeleted = document.getElementById('reason' + myID);
                    myOrderDeleted.innerHTML = data.reason;
                }
            },
            error: function() {
                alert("Ajax error!")
            }
        });
    }



    function unwrapChildren(element) {
        var parent, node, nextNode;

        parent = element.parentNode;
        for (node = element.firstChild; node; node = nextNode) {
            nextNode = node.nextSibling;
            parent.insertBefore(node, element);
        }
        parent.removeChild(element);
    }
</script> 