<%= form_for(@menu_attachment) do |f| %>
  <% if @menu_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_attachment.errors.count, "error") %> prohibited this menu_attachment from being saved:</h2>

      <ul>
      <% @menu_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :menu_id %><br>
    <%= f.number_field :menu_id %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.text_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
