<%= form_for(@host) do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :emailid %><br>
    <%= f.text_field :emailid %>
  </div>
  <div class="field">
    <%= f.label :passwd %><br>
    <%= f.text_field :passwd %>
  </div>
  <div class="field">
    <%= f.label :confpasswrd %><br>
    <%= f.text_field :confpasswrd %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :addr %><br>
    <%= f.text_field :addr %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :longi %><br>
    <%= f.text_field :longi %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :phoneno %><br>
    <%= f.text_field :phoneno %>
  </div>
  <div class="field">
    <%= f.label :qualification %><br>
    <%= f.text_field :qualification %>
  </div>
  <div class="field">
    <%= f.label :profession %><br>
    <%= f.text_field :profession %>
  </div>
  <div class="field">
    <%= f.label :languages %><br>
    <%= f.text_field :languages %>
  </div>
  <div class="field">
    <%= f.label :blog %><br>
    <%= f.text_field :blog %>
  </div>
  <div class="field">
    <%= f.label :idcard %><br>
    <%= f.text_field :idcard %>
  </div>
  <div class="field">
    <%= f.label :cardtype %><br>
    <%= f.text_field :cardtype %>
  </div>
  <div class="field">
    <%= f.label :food %><br>
    <%= f.text_field :food %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :toddlrReason %><br>
    <%= f.text_field :toddlrReason %>
  </div>
  <div class="field">
    <%= f.label :reasonToenjycooking %><br>
    <%= f.text_field :reasonToenjycooking %>
  </div>
  <div class="field">
    <%= f.label :frequencyofCooking %><br>
    <%= f.text_field :frequencyofCooking %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
