<p id="notice"><%= notice %></p>

<h1>Listing Hosts</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Emailid</th>
      <th>Passwd</th>
      <th>Confpasswrd</th>
      <th>Name</th>
      <th>Addr</th>
      <th>Lat</th>
      <th>Longi</th>
      <th>Age</th>
      <th>Phoneno</th>
      <th>Qualification</th>
      <th>Profession</th>
      <th>Languages</th>
      <th>Blog</th>
      <th>Idcard</th>
      <th>Cardtype</th>
      <th>Food</th>
      <th>Destination</th>
      <th>Toddlrreason</th>
      <th>Reasontoenjycooking</th>
      <th>Frequencyofcooking</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hosts.each do |host| %>
      <tr>
        <td><%= host.username %></td>
        <td><%= host.emailid %></td>
        <td><%= host.passwd %></td>
        <td><%= host.confpasswrd %></td>
        <td><%= host.name %></td>
        <td><%= host.addr %></td>
        <td><%= host.lat %></td>
        <td><%= host.longi %></td>
        <td><%= host.age %></td>
        <td><%= host.phoneno %></td>
        <td><%= host.qualification %></td>
        <td><%= host.profession %></td>
        <td><%= host.languages %></td>
        <td><%= host.blog %></td>
        <td><%= host.idcard %></td>
        <td><%= host.cardtype %></td>
        <td><%= host.food %></td>
        <td><%= host.destination %></td>
        <td><%= host.toddlrReason %></td>
        <td><%= host.reasonToenjycooking %></td>
        <td><%= host.frequencyofCooking %></td>
        <td><%= link_to 'Show', host %></td>
        <td><%= link_to 'Edit', edit_host_path(host) %></td>
        <td><%= link_to 'Destroy', host, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Host', new_host_path %>
