<body>
    <div id="wrapper">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">WebSiteName</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              </li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="reviews" data-remote="true" ><span class="label label-success" id="unreadReviewCount"><%= @unread_review_count %></span></a></li>
              <li><a href="/order_tables/loadOrdersForGuests" data-remote="true" > <span class="label label-danger" id="unreadOrderCount"><%= session[:pendingOrdersCount] %></span></a></li>
              <li><a href="#" data-remote="true" ><span class="label label-info">8</span></a></li>
              <li><a href="login.html"><i class="icon-signout"></i><b> Logout</b> </a></li>
            </ul>
          </div>
        </div>
      </nav>
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center" id="main-menu">
                    <img src="assets/img/find_user.png" class="user-image img-responsive"/>
					</li>
                    <li>
                        <a  href="index.html"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                     <li>
                        <a  href="ui.html"><i class="fa fa-desktop fa-3x"></i> UI Elements</a>
                    </li>
                    <li>
                        <a  href="tab-panel.html"><i class="fa fa-qrcode fa-3x"></i> Tabs & Panels</a>
                    </li>
						   <li  >
                        <a   href="chart.html"><i class="fa fa-bar-chart-o fa-3x"></i> Morris Charts</a>
                    </li>	
                      <li  >
                        <a  href="table.html"><i class="fa fa-table fa-3x"></i> Table Examples</a>
                    </li>
                    <li  >
                        <a  href="form.html"><i class="fa fa-edit fa-3x"></i> Forms </a>
                    </li>				
					
					                   
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>
                               
                            </li>
                        </ul>
                      </li>  
					<li>
                        <a  href="blank.html"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
                    </li>	
                </ul>
               
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Admin Dashboard</h2>   
                        <h5>Welcome Jhon Deo , Love to see you back. </h5>
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
                <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box" id='dashboard'>
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-envelope-o"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">Dashboard</p>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6" id='menu'>           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-bars"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">Menu</p>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6" id='payment'>           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue set-icon">
                    <i class="fa fa-bell-o"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">Payment</p>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6" id='settings'>           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-brown set-icon">
                    <i class="fa fa-rocket"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">Settigs</p>
                </div>
             </div>
		     </div>
			</div>
                 <!-- /. ROW  -->
                <hr />                
			<div id="bc">	
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue">
                    <i class="fa fa-warning"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">52 Important Issues to Fix </p>
                    <p class="text-muted">Please fix these issues to work smooth</p>
                    <p class="text-muted">Time Left: 30 mins</p>
                    <hr />
                    <p class="text-muted">
                          <span class="text-muted color-bottom-txt"><i class="fa fa-edit"></i>
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn. 
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn. 
                               </span>
                    </p>
                </div>
             </div>
		     </div>
                    
                    
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel back-dash">
                               <i class="fa fa-dashboard fa-3x"></i><strong> &nbsp; SPEED</strong>
                             <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing sit ametsit amet elit ftr. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        </div>
                       
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="panel ">
          <div class="main-temp-back">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6"> <i class="fa fa-cloud fa-3x"></i> Newyork City </div>
                <div class="col-xs-6">
                  <div class="text-temp"> 10?</div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
                     <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-desktop"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">Display</p>
                    <p class="text-muted">Looking Good</p>
                </div>
             </div>
			
    </div>
                        
        </div>
                 <!-- /. ROW  -->
                <div class="row"> 
                    
                      
                               <div class="col-md-9 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Bar Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-bar-chart"></div>
                        </div>
                    </div>            
                </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">                       
                    <div class="panel panel-primary text-center no-boder bg-color-green">
                        <div class="panel-body">
                            <i class="fa fa-bar-chart-o fa-5x"></i>
                            <h3>120 GB </h3>
                        </div>
                        <div class="panel-footer back-footer-green">
                           Disk Space Available
                            
                        </div>
                    </div>
                    <div class="panel panel-primary text-center no-boder bg-color-red">
                        <div class="panel-body">
                            <i class="fa fa-edit fa-5x"></i>
                            <h3>20,000 </h3>
                        </div>
                        <div class="panel-footer back-footer-red">
                            Articles Pending
                            
                        </div>
                    </div>                         
                        </div>
                
           </div>
                 <!-- /. ROW  -->
				 
                <div class="row" >
                    <div class="col-md-3 col-sm-12 col-xs-12">
  <div class="panel panel-primary text-center no-boder bg-color-green">
                        <div class="panel-body">
                            <i class="fa fa-comments-o fa-5x"></i>
                            <h4>200 New Comments </h4>
                             <h4>See All Comments  </h4>
                        </div>
                        <div class="panel-footer back-footer-green">
                             <i class="fa fa-rocket fa-5x"></i>
                            Lorem ipsum dolor sit amet sit sit, consectetur adipiscing elitsit sit gthn ipsum dolor sit amet ipsum dolor sit amet
                            
                        </div>
                    </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
               
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Responsive Table Example
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                             <th>User No.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>100090</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                            <td>100090</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                            <td>100090</td>
                                        </tr>
                                         <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>100090</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                            <td>100090</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                            <td>100090</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
                 <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                   
                    <div class="chat-panel panel panel-default chat-boder chat-panel-head" >
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i>
                            Chat Box
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-refresh fa-fw"></i>Refresh
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-check-circle fa-fw"></i>Available
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-times fa-fw"></i>Busy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-clock-o fa-fw"></i>Away
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-sign-out fa-fw"></i>Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body">
                            <ul class="chat-box">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="assets/img/1.png" alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body">                                        
                                            <strong >Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                            </small>                                      
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">

                                        <img src="assets/img/2.png" alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>13 mins ago</small>
                                            <strong class="pull-right">Jhonson Deed</strong>
                                      
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                         <img src="assets/img/3.png" alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        
                                            <strong >Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>14 mins ago</small>
                                        
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                         <img src="assets/img/4.png" alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                      
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>15 mins ago</small>
                                            <strong class="pull-right">Jhonson Deed</strong>
                                       
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                    <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="assets/img/1.png" alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body">                                        
                                            <strong >Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                            </small>                                      
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                       <img src="assets/img/2.png" alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>13 mins ago</small>
                                            <strong class="pull-right">Jhonson Deed</strong>
                                      
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message to send..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>

                    </div>
                    
                </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                         <div class="panel panel-default">
                        <div class="panel-heading">
                           Label Examples
                        </div>
                        <div class="panel-body">
                            <span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
                        </div>
                    </div>
                         
                         <div class="panel panel-default">
                        <div class="panel-heading">
                            Donut Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                        </div>
                    </div>
                      
                    </div>
                </div>     
                 <!-- /. ROW  -->           
    </div>
	
	
	<div id='userreviews'>
	
		</div>
	
	
	
	
	
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
		</div>

    <!-- Modal for menu Photo -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Upload New</h4>
          </div>
          <div class="modal-body">
            <%= form_tag '/hosts/create_photo_menus', method: :post, remote:true,class: "dropzone", id: "media-dropzone" do %>
                <div class="fallback">
                  <%= file_field_tag "media", multiple: true%>
                </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
     <!-- /. WRAPPER  -->

      <!-- CUSTOM SCRIPTS -->
    <!--<script src="assets/js/custom.js"></script>-->

							<script>
						$("#dashboard").click(function(){
						var myMenu=document.getElementById('main-menu')
						$( myMenu).empty();
						var newdiv1 = document.createElement('li'); // Create dynamic element
						myMenu.appendChild(newdiv1);			
						var aTag = document.createElement('a');
						aTag.setAttribute('class','active-menu');
						aTag.innerHTML = "Meals Served";
						aTag.setAttribute("href","hosts/reviews");
						newdiv1.appendChild(aTag);
						
						
						var newdiv2 = document.createElement('li'); // Create dynamic element
						var aTag2 = document.createElement('a');
						aTag2.setAttribute('class','active-menu');
						aTag2.setAttribute('data-remote','true');
						aTag2.setAttribute("href","reviews");
						aTag2.innerHTML = "Reviews";
						myMenu.appendChild(newdiv2);			
						newdiv2.appendChild(aTag2);


                            var newdiv5 = document.createElement('li'); // Create dynamic element
                            var aTag5 = document.createElement('a');
                            aTag5.setAttribute('class','active-menu');
                            aTag5.setAttribute('data-remote','true');
                            aTag5.setAttribute("href","/order_tables/loadOrdersForGuests");
                            aTag5.innerHTML = "Orders";
                            myMenu.appendChild(newdiv5);
                            newdiv5.appendChild(aTag5);

						
						var newdiv3 = document.createElement('li'); // Create dynamic element
						var aTag3 = document.createElement('a');
						aTag3.setAttribute('class','active-menu');
						aTag3.setAttribute('href',"yourlink2.htm");
						aTag3.innerHTML = "Profile";
						myMenu.appendChild(newdiv3);			
						newdiv3.appendChild(aTag3);		

						
						var newdiv4 = document.createElement('li'); // Create dynamic element
						var aTag4 = document.createElement('a');
						aTag4.setAttribute('class','active-menu');
						aTag4.setAttribute('href',"yourlink3.htm");
						aTag4.innerHTML = "Help";
						myMenu.appendChild(newdiv4);			
						newdiv4.appendChild(aTag4);		
						});

						$("#menu").click(function(){
						var myMenu=document.getElementById('main-menu')
						$( myMenu).empty();
						var newdiv1 = document.createElement('li'); // Create dynamic element
						myMenu.appendChild(newdiv1);			
						var aTag = document.createElement('a');
                            aTag.setAttribute('class','active-menu');
                            aTag.setAttribute('data-remote','true');
                            aTag.setAttribute("href","/hosts/menuAdd");
						aTag.innerHTML = "Create";
						newdiv1.appendChild(aTag);
						
						
						var newdiv2 = document.createElement('li'); // Create dynamic element
						var aTag2 = document.createElement('a');
						aTag2.setAttribute('class','active-menu');
						aTag2.setAttribute('href',"yourlink1.htm");
						aTag2.innerHTML = "Edit";
						myMenu.appendChild(newdiv2);			
						newdiv2.appendChild(aTag2);
									
						});

						
						$("#payment").click(function(){
							var myMenu=document.getElementById('main-menu')
						$( myMenu).empty();
						var newdiv1 = document.createElement('li'); // Create dynamic element
						myMenu.appendChild(newdiv1);			
						var aTag = document.createElement('a');
						aTag.setAttribute('class','active-menu');
						aTag.setAttribute('href',"yourlink.htm");
						aTag.innerHTML = "Account Info";
						newdiv1.appendChild(aTag);
						
						
						var newdiv2 = document.createElement('li'); // Create dynamic element
						var aTag2 = document.createElement('a');
						aTag2.setAttribute('class','active-menu');
						aTag2.setAttribute('href',"yourlink1.htm");
						aTag2.innerHTML = "Payment Mode";
						myMenu.appendChild(newdiv2);			
						newdiv2.appendChild(aTag2);
						
						var newdiv3 = document.createElement('li'); // Create dynamic element
						var aTag3 = document.createElement('a');
						aTag3.setAttribute('class','active-menu');
						aTag3.setAttribute('href',"yourlink2.htm");
						aTag3.innerHTML = "TBD";
						myMenu.appendChild(newdiv3);			
						newdiv3.appendChild(aTag3);		

						
						var newdiv4 = document.createElement('li'); // Create dynamic element
						var aTag4 = document.createElement('a');
						aTag4.setAttribute('class','active-menu');
						aTag4.setAttribute('href',"yourlink3.htm");
						aTag4.innerHTML = "FAQ";
						myMenu.appendChild(newdiv4);			
						newdiv4.appendChild(aTag4);		
						});
						
						$("#settings").click(function(){
						var myMenu=document.getElementById('main-menu')
						$( myMenu).empty();
						var newdiv1 = document.createElement('li'); // Create dynamic element
						myMenu.appendChild(newdiv1);			
						var aTag = document.createElement('a');
						aTag.setAttribute('class','active-menu');
						aTag.setAttribute('href',"yourlink.htm");
						aTag.innerHTML = "TBD";
						newdiv1.appendChild(aTag);
						});
						
						function myFunction(myelement) {
							$('#bc').hide();
						   alert(myelement)
						    $.ajax({
			                 url: "<%= '/hosts/reviews' %>", // Route to the Script Controller method
				                type: "GET",
				            dataType: "json",
				                data: {},
				            complete: function() {},
				             success: function(data) {

				                      },
				               error: function() {
				                        alert("Ajax error!")
				                      }
							});
						   $(myelement).show();
						}
						
						$(document).ready(function() {
						   $('#bc').hide();
						});
						
						
						</script>

    <script type="text/javascript">
        $(document).ready(function(){
            // Smart Wizard
            $('#wizard').smartWizard();

            function onFinishCallback(){
                $('#wizard').smartWizard('showMessage','Finish Clicked');
            }
        });

    </script>
    <script>
        var inival=0;


        function addNewItem(elementCityID) {
            inival=inival+1; // Increment element number by 1
            var ni = document.getElementById(elementCityID);
            var divIdName="Items"+inival;
            var newText = document.createElement('input');
            newText.setAttribute('type','text');
            newText.setAttribute('name',divIdName);
            newText.setAttribute('class','form-control');
            newText.setAttribute('placeholder','Item Name');
            ni.appendChild(newText);
        }


        $("#previewPhoto").click( function() {
// send an AJAX request to fetch the data
            $.ajax({
                url:  "<%= '/menus/previewAlbum' %>", // Route to the Script Controller method
                type: "GET",
                dataType: "json",
                complete: function() {},

                success: function(data) {
                    $('#media-contents').empty();
                    $.each(data.attachments, function(i, attachment) {
                        $('#media-contents').append('<div class="row">');
                        $('#media-contents').append('<div class="thumbnail">');
                        $('#media-contents').append('<img src='+ attachment.avatar.url + ' height="100" width="100">');
                        $('#media-contents').append('</div>');
                        $('#media-contents').append('</div>');

                    });
                    jQuery("#previewModal").modal({
                        show: true

                    });

                },
                error: function() {
                    alert("Ajax error!")
                }
            });

            return false;
        });

    </script>


</body>    
