<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @host.username %>
</p>

<p>
  <strong>Emailid:</strong>
  <%= @host.emailid %>
</p>

<p>
  <strong>Passwd:</strong>
  <%= @host.passwd %>
</p>

<p>
  <strong>Confpasswrd:</strong>
  <%= @host.confpasswrd %>
</p>

<p>
  <strong>Name:</strong>
  <%= @host.name %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @host.addr %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @host.lat %>
</p>

<p>
  <strong>Longi:</strong>
  <%= @host.longi %>
</p>

<p>
  <strong>Age:</strong>
  <%= @host.age %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @host.phoneno %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @host.qualification %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @host.profession %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @host.languages %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @host.blog %>
</p>

<p>
  <strong>Idcard:</strong>
  <%= @host.idcard %>
</p>

<p>
  <strong>Cardtype:</strong>
  <%= @host.cardtype %>
</p>

<p>
  <strong>Food:</strong>
  <%= @host.food %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @host.destination %>
</p>

<p>
  <strong>Toddlrreason:</strong>
  <%= @host.toddlrReason %>
</p>

<p>
  <strong>Reasontoenjycooking:</strong>
  <%= @host.reasonToenjycooking %>
</p>

<p>
  <strong>Frequencyofcooking:</strong>
  <%= @host.frequencyofCooking %>
</p>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
