<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @host.name %>
</p>

<p>
  <strong>Email-id:</strong>
  <%= @host.email-id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @host.phone %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @host.dob %>
</p>

<p>
  <strong>Card type:</strong>
  <%= @host.card_type %>
</p>

<p>
  <strong>Card no:</strong>
  <%= @host.card_no %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @host.marital_status %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @host.qualification %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @host.profession %>
</p>

<p>
  <strong>Favmusic:</strong>
  <%= @host.favmusic %>
</p>

<p>
  <strong>Favmovie:</strong>
  <%= @host.favmovie %>
</p>

<p>
  <strong>Socialprofile:</strong>
  <%= @host.socialprofile %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @host.languages %>
</p>

<p>
  <strong>Favdestination:</strong>
  <%= @host.favdestination %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @host.amenities %>
</p>

<p>
  <strong>Personalitytype:</strong>
  <%= @host.personalitytype %>
</p>

<p>
  <strong>Descriptionexp:</strong>
  <%= @host.descriptionexp %>
</p>

<p>
  <strong>Descriptionself:</strong>
  <%= @host.descriptionself %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @host.rating %>
</p>

<p>
  <strong>Membership:</strong>
  <%= @host.membership %>
</p>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
