<p id="notice"><%= notice %></p>

<h1>Listing Image Gallaries</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Host</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image_gallaries.each do |image_gallary| %>
      <tr>
        <td><%= image_gallary.image_id %></td>
        <td><%= image_gallary.Host %></td>
        <td><%= link_to 'Show', image_gallary %></td>
        <td><%= link_to 'Edit', edit_image_gallary_path(image_gallary) %></td>
        <td><%= link_to 'Destroy', image_gallary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image gallary', new_image_gallary_path %>
